In [66]:
#PLease pip install yfinance before running

import time
import datetime
import pandas as pd
import yfinance as yf
from yahoo_fin.stock_info import get_data
import yahoo_fin.stock_info as si
# from yahoo_financials_stmt

In [67]:
Stock_Symbol = "AAPL"

In [110]:
SP500_Stock_list = get_data(Stock_Symbol, start_date="1/12/2012", end_date="1/12/2022", index_as_date = True, interval="1mo")
SP500_Stock_list = SP500_Stock_list.drop(columns = ['open','high','low','adjclose','volume'])
SP500_Stock_list

                 close ticker
2012-02-01   19.372856   AAPL
2012-03-01   21.412500   AAPL
2012-04-01   20.856428   AAPL
2012-05-01   20.633215   AAPL
2012-06-01   20.857143   AAPL
...                ...    ...
2021-09-01  141.500000   AAPL
2021-10-01  149.800003   AAPL
2021-11-01  165.300003   AAPL
2021-12-01  177.570007   AAPL
2022-01-01  174.779999   AAPL

[120 rows x 2 columns]

In [111]:
sp500_stocks_list = si.tickers_sp500()

print("sp500_stocks_list:", len(sp500_stocks_list))
sp500_stocks_list[0:10]

sp500_stocks_list: 503

['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN', 'ADBE']

In [112]:
sp = pd.DataFrame(sp500_stocks_list)
sp

        0
0       A
1     AAL
2     AAP
3    AAPL
4    ABBV
..    ...
498   YUM
499   ZBH
500  ZBRA
501  ZION
502   ZTS

[503 rows x 1 columns]

In [85]:
si.get_stats_valuation(Stock_Symbol)

,Unnamed: 0,As of Date: 7/11/2022Current,3/31/2022,12/31/2021,9/30/2021,6/30/2021
0,Market Cap (intraday),191.31B,207.24B,248.28B,208.89B,205.52B
1,Enterprise Value,200.24B,216.00B,256.98B,218.44B,215.59B
2,Trailing P/E,25.35,30.04,34.92,33.28,36.34
3,Forward P/E,22.62,24.63,29.67,25.13,26.74
4,PEG Ratio (5 yr expected),6.64,8.15,2.75,2.74,2.94
5,Price/Sales (ttm),4.38,4.92,5.96,5.26,5.55
6,Price/Book (mrq),5.40,5.79,7.21,6.18,6.12
7,Enterprise Value/Revenue,4.50,18.16,22.41,19.99,21.09
8,Enterprise Value/EBITDA,15.40,56.40,76.92,62.90,91.51

In [86]:
Valuation_data = pd.DataFrame(si.get_stats_valuation(Stock_Symbol))
Valuation_data.T

,0,1,2,3,4,5,6,7,8
Unnamed: 0,Market Cap (intraday),Enterprise Value,Trailing P/E,Forward P/E,PEG Ratio (5 yr expected),Price/Sales (ttm),Price/Book (mrq),Enterprise Value/Revenue,Enterprise Value/EBITDA
As of Date: 7/11/2022Current,191.31B,200.24B,25.35,22.62,6.64,4.38,5.40,4.50,15.40
3/31/2022,207.24B,216.00B,30.04,24.63,8.15,4.92,5.79,18.16,56.40
12/31/2021,248.28B,256.98B,34.92,29.67,2.75,5.96,7.21,22.41,76.92
9/30/2021,208.89B,218.44B,33.28,25.13,2.74,5.26,6.18,19.99,62.90
6/30/2021,205.52B,215.59B,36.34,26.74,2.94,5.55,6.12,21.09,91.51

In [87]:
balance_sheet = si.get_balance_sheet(Stock_Symbol)
balance_sheet

endDate,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Breakdown,,,,
intangibleAssets,12739000000,14784000000,17025000000,18942000000
totalLiab,39172000000,39545000000,36586000000,36451000000
totalStockholderEquity,35802000000,32784000000,31088000000,30524000000
minorityInterest,222000000,219000000,213000000,198000000
otherCurrentLiab,1234000000,1658000000,950000000,868000000
totalAssets,75196000000,72548000000,67887000000,67173000000
commonStock,24470000000,24145000000,23853000000,23512000000
otherCurrentAssets,292000000,90000000,148000000,114000000
retainedEarnings,31528000000,27627000000,25847000000,24560000000
otherLiab,7815000000,8209000000,8307000000,8080000000
goodWill,23231000000,23744000000,23195000000,23254000000
treasuryStock,-20196000000,-18988000000,-18612000000,-17548000000
otherAssets,4363000000,2784000000,2443000000,2192000000
cash,9799000000,6838000000,3860000000,3844000000
totalCurrentLiabilities,13105000000,11907000000,10863000000,9012000000
deferredLongTermAssetCharges,3972000000,2418000000,2097000000,1885000000
shortLongTermDebt,754000000,7000000,1277000000,7000000
otherStockholderEquity,-8374000000,-8946000000,-8465000000,-7586000000
propertyPlantEquipment,10112000000,10130000000,8972000000,7563000000
totalCurrentAssets,24239000000,20441000000,15667000000,14632000000
longTermInvestments,512000000,665000000,585000000,590000000
netTangibleAssets,-168000000,-5744000000,-9132000000,-11672000000
shortTermInvestments,450000000,310000000,280000000,242000000
netReceivables,6487000000,6414000000,5425000000,5182000000
longTermDebt,17296000000,18527000000,16661000000,19359000000
inventory,5157000000,5012000000,4316000000,3796000000
accountsPayable,4408000000,3946000000,3252000000,2975000000

In [99]:
Balance_sheet_data = pd.DataFrame(si.get_balance_sheet(Stock_Symbol))
Balance_sheet_data.T

Breakdown,intangibleAssets,totalLiab,totalStockholderEquity,minorityInterest,otherCurrentLiab,totalAssets,commonStock,otherCurrentAssets,retainedEarnings,otherLiab,...,otherStockholderEquity,propertyPlantEquipment,totalCurrentAssets,longTermInvestments,netTangibleAssets,shortTermInvestments,netReceivables,longTermDebt,inventory,accountsPayable
endDate,,,,,,,,,,,,,,,,,,,,,
2021-12-31,12739000000,39172000000,35802000000,222000000,1234000000,75196000000,24470000000,292000000,31528000000,7815000000,...,-8374000000,10112000000,24239000000,512000000,-168000000,450000000,6487000000,17296000000,5157000000,4408000000
2020-12-31,14784000000,39545000000,32784000000,219000000,1658000000,72548000000,24145000000,90000000,27627000000,8209000000,...,-8946000000,10130000000,20441000000,665000000,-5744000000,310000000,6414000000,18527000000,5012000000,3946000000
2019-12-31,17025000000,36586000000,31088000000,213000000,950000000,67887000000,23853000000,148000000,25847000000,8307000000,...,-8465000000,8972000000,15667000000,585000000,-9132000000,280000000,5425000000,16661000000,4316000000,3252000000
2018-12-31,18942000000,36451000000,30524000000,198000000,868000000,67173000000,23512000000,114000000,24560000000,8080000000,...,-7586000000,7563000000,14632000000,590000000,-11672000000,242000000,5182000000,19359000000,3796000000,2975000000

In [97]:
cash_flow_statement = si.get_cash_flow(Stock_Symbol,"01/16/2022")
cash_flow_statement

endDate,2021-12-31,2020-12-31,2019-12-31,2018-12-31
Breakdown,,,,
investments,-9.600000e+07,-7.300000e+07,-8.200000e+07,-5.800000e+07
changeToLiabilities,1.288000e+09,1.766000e+09,2.200000e+08,7.470000e+08
totalCashflowsFromInvestingActivities,-2.008000e+09,-2.215000e+09,-1.815000e+09,-1.356000e+09
netBorrowings,-2.480000e+08,-5.000000e+07,-1.599000e+09,-8.450000e+09
totalCashFromFinancingActivities,-5.494000e+09,-2.779000e+09,-4.289000e+09,-1.039100e+10
changeToOperatingActivities,-3.120000e+08,-6.270000e+08,-1.380000e+08,2.300000e+07
issuanceOfStock,2.550000e+08,2.450000e+08,2.980000e+08,2.710000e+08
netIncome,7.071000e+09,4.495000e+09,3.687000e+09,2.368000e+09
changeInCash,2.961000e+09,2.978000e+09,1.600000e+07,-5.563000e+09
repurchaseOfStock,-2.299000e+09,-4.030000e+08,-7.180000e+08,-2.380000e+08
effectOfExchangeRate,-7.000000e+07,7.100000e+07,-1.600000e+07,-1.160000e+08
totalCashFromOperatingActivities,1.053300e+10,7.901000e+09,6.136000e+09,6.300000e+09
depreciation,3.538000e+09,3.327000e+09,3.014000e+09,3.278000e+09
otherCashflowsFromInvestingActivities,2.600000e+07,1.900000e+07,2.700000e+07,1.020000e+08
dividendsPaid,-3.202000e+09,-2.560000e+09,-2.270000e+09,-1.974000e+09
changeToInventory,-4.560000e+08,-4.930000e+08,-5.930000e+08,-5.140000e+08
changeToAccountReceivables,-3.830000e+08,-9.240000e+08,-2.750000e+08,-1.900000e+08
changeToNetincome,6.950000e+08,9.710000e+08,7.660000e+08,8.020000e+08
capitalExpenditures,-1.885000e+09,-2.177000e+09,-1.638000e+09,-1.394000e+09
otherCashflowsFromFinancingActivities,NaN,-1.100000e+07,-1.100000e+07,-1.100000e+07

In [100]:
Balance_sheet_data = pd.DataFrame(si.get_cash_flow(Stock_Symbol,"01/16/2022"))
Balance_sheet_data.T

Breakdown,investments,changeToLiabilities,totalCashflowsFromInvestingActivities,netBorrowings,totalCashFromFinancingActivities,changeToOperatingActivities,issuanceOfStock,netIncome,changeInCash,repurchaseOfStock,effectOfExchangeRate,totalCashFromOperatingActivities,depreciation,otherCashflowsFromInvestingActivities,dividendsPaid,changeToInventory,changeToAccountReceivables,changeToNetincome,capitalExpenditures,otherCashflowsFromFinancingActivities
endDate,,,,,,,,,,,,,,,,,,,,
2021-12-31,-96000000.0,1.288000e+09,-2.008000e+09,-2.480000e+08,-5.494000e+09,-312000000.0,255000000.0,7.071000e+09,2.961000e+09,-2.299000e+09,-70000000.0,1.053300e+10,3.538000e+09,26000000.0,-3.202000e+09,-456000000.0,-383000000.0,695000000.0,-1.885000e+09,NaN
2020-12-31,-73000000.0,1.766000e+09,-2.215000e+09,-5.000000e+07,-2.779000e+09,-627000000.0,245000000.0,4.495000e+09,2.978000e+09,-4.030000e+08,71000000.0,7.901000e+09,3.327000e+09,19000000.0,-2.560000e+09,-493000000.0,-924000000.0,971000000.0,-2.177000e+09,-11000000.0
2019-12-31,-82000000.0,2.200000e+08,-1.815000e+09,-1.599000e+09,-4.289000e+09,-138000000.0,298000000.0,3.687000e+09,1.600000e+07,-7.180000e+08,-16000000.0,6.136000e+09,3.014000e+09,27000000.0,-2.270000e+09,-593000000.0,-275000000.0,766000000.0,-1.638000e+09,-11000000.0
2018-12-31,-58000000.0,7.470000e+08,-1.356000e+09,-8.450000e+09,-1.039100e+10,23000000.0,271000000.0,2.368000e+09,-5.563000e+09,-2.380000e+08,-116000000.0,6.300000e+09,3.278000e+09,102000000.0,-1.974000e+09,-514000000.0,-190000000.0,802000000.0,-1.394000e+09,-11000000.0