In [35]:
#PLease pip install yfinance before running

import time
import datetime
import pandas as pd
import yfinance as yf
from yahoo_fin.stock_info import get_data
import yahoo_fin.stock_info as si

In [36]:
Stock_Symbol = "AAPL"

In [40]:
SP500_Stock_list = get_data(Stock_Symbol, start_date="1/10/2012", end_date="01/1/2022", index_as_date = True, interval="1wk")
SP500_Stock_list = SP500_Stock_list.drop(columns = ['open','high','low','adjclose','volume'])
SP500_Stock_list

                 close ticker
2012-01-09   14.993214   AAPL
2012-01-16   15.010714   AAPL
2012-01-23   15.974286   AAPL
2012-01-30   16.417143   AAPL
2012-02-06   17.622143   AAPL
...                ...    ...
2021-11-29  161.839996   AAPL
2021-12-06  179.449997   AAPL
2021-12-13  171.139999   AAPL
2021-12-20  176.279999   AAPL
2021-12-27  177.570007   AAPL

[521 rows x 2 columns]

In [41]:
sp500_stocks_list = si.tickers_sp500()

print("sp500_stocks_list:", len(sp500_stocks_list))
sp500_stocks_list[0:10]

sp500_stocks_list: 503

['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN', 'ADBE']

In [47]:
sp = pd.DataFrame(sp500_stocks_list)
sp

        0
0       A
1     AAL
2     AAP
3    AAPL
4    ABBV
..    ...
498   YUM
499   ZBH
500  ZBRA
501  ZION
502   ZTS

[503 rows x 1 columns]

In [45]:
# sp500_historical = {}
# for ticker in sp500_stocks_list:
#     sp500_historical[ticker] = si.get_data(ticker, start_date="01/10/2012", end_date="01/03/2022", interval="1wk").drop(columns = ['open','high','low','adjclose','volume'])
# sp500_historical[0:10]

AssertionError: {'chart': {'result': None, 'error': {'code': 'Bad Request', 'description': "Data doesn't exist for startDate = 1326153600, endDate = 1641168000"}}}